<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213574920809-qs40vc6lemt1ihqueadvo8vsu5c1025b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213574920809-qs40vc6lemt1ihqueadvo8vsu5c1025b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>213574920809-qplldadfbh727h18ooh5rsl2l2gnkm71.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhUpI1BP4o8u5vMp6GAYsQVVU8SLSNIkc</string>
	<key>GCM_SENDER_ID</key>
	<string>213574920809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ching.Expenses</string>
	<key>PROJECT_ID</key>
	<string>expenses-ac06d</string>
	<key>STORAGE_BUCKET</key>
	<string>expenses-ac06d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213574920809:ios:339d98cef3e1688e15d0f8</string>
	<key>DATABASE_URL</key>
	<string>https://expenses-ac06d.firebaseio.com</string>
</dict>
</plist>